language: python
matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
      dist: xenial
      sudo: true
    - python: pypy
      env: TOXENV=pypy
    - python: pypy3
      env: TOXENV=pypy3
    - python: 3.6
      env: TOXENV=pycodestyle
    - python: 3.6
      env: TOXENV=py3-syntax
install:
  - pip install tox
script:
  - tox
